<div class="container">
  <input
    type="text"
    class="newTask input"
    placeholder="Nueva task"
    [formControl]="taskControl"
    (keydown.enter)="handlerChange()"
    />
  <div class="tasks">
    <ul>
      @for (task of tasksByFilter(); track task) {
        <li class="task"
          [class.completed]="task.completed"
          [class.editing]="task.editing"
          (dblclick)="updateEditingMode(task.id)"
          >
          <div class="view">
            <div class="circle"  (click)="onCompleted(task.id)"></div>
            <span class="title"> {{ task.title }}</span>
            <div class="close" (click)="deleteTask(task.id)">x</div>
          </div>
          <input type="text" class="edit" [value]="task.title" (change)="updateTask(task.id, $event)" >
        </li>
      }
      <div class="controls">
        <div class="count">
          {{tasksByFilter().length}} Item{{ tasksByFilter().length === 1 ? '':'s'}}
        </div>
        <ul class="filters">
          <li>
            <a (click)="onChangeFilter('all')"
            [class.selected]="filter() === 'all'">All</a>
          </li>
          <li>
            <a (click)="onChangeFilter('pending')"
            [class.selected]="filter() === 'pending'">Pending</a>
          </li>
          <li>
            <a (click)="onChangeFilter('completed')"
            [class.selected]="filter() === 'completed'">Completed</a>
          </li>
        </ul>
        <div class="clear">
          <span>Clear completed</span>
        </div>
      </div>
    </ul>
  </div>
</div>
