/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 400px;
}
body {
  background-color: #dad7cd;
  display: flex;
  justify-content: center;
}
